@mixin make-bold($bool) {
    @if $bool==true {
        font-weight: bold;
    }
}

@mixin text-effect($val) {
    @if $val==danger {
        color: red;
    }

    @else if $val==alert {
        color: yellow;
    }

    @else if $val==success {
        color: green;
    }

    @else {
        color: black;
    }
}

// Use @if and @else to Add Logic to your Styles
@mixin border-stroke($val) {
    @if $val==light {
        border: 1px solid red;
    }

    @else if $val==medium {
        border: 3px solid red;
    }

    @else if $val==heavy {
        border: 6px solid red;
    }

    @else {
        border: none;
    }
}



#box {
    @include border-stroke((light));
    @include text-effect(danger);
}